*{
margin: 0;
padding: 0;

}.n{
    text-align: center;

justify-content: center;


}button{
    background-color: white;
    font-size:  25px; 
    border: 7px solid black;
}

#i{
    background-color: white;
    width: 500px;
    height: 209px;
    position: absolute;
    top: 150px;
    left: 50vw;
    transform: translate(-50%,-50%);
    z-index: -1;
border: 7px solid black;
}h3{
    font-size:45px ;
}body{
    background-color: #510000;
}.ok{
    margin: 70px;
    
}.p{
pad:80px ;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 9px;
}.o{
font-size:30px ;
width: 50vw;
background-color: white;
    width: 800px;
    height: 250px;
padding: 100px;
    

}h2{

font-size: 46px;
}.u{
    display: flex;
    justify-content: space-between;
}.h{
    color: white;
    width: 90px;

}.yy{
    border-radius: 50vw;
    width: 93px;
    margin: 45px;
}.tt{
    display: flex;
}.gg{
    font-size: 46px;
}.rr{
    font-size:30px ;
    width: 50vw;
background-color: white;
    width: 800px;
    height: 250px;
padding: 100px;
margin:auto ;
}.xx{
    height:90px ;
    
}